* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 20px 0 0 20px; /* top, right, bottom, left */
    display: flex;
    flex-direction: row;
}

h2 {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.input_container {
    /* height: 580px; */
    width: 100%;
    background-color: #f2f2f2;
    padding: 25px;
    border: hidden;
    border-radius: 30px;
    font-weight: 600;
}

.selected {
    font-size: larger;
}

u {
    color: #415e9c;
}

.fluid {
    background-color: #ffffff;
    padding: 10px 0 10px 10px;
    border-radius: 8px;
    width: 100%;
}

.room, .device {
    width: 130px;
}

.room {
    margin-right: 10px;
}

.input_container h3 {
    text-align: center;
    margin-bottom: 25px;
}

.searchbar, .selected, .fluid, .dateStarted, .incorporation, .ivf_no, .consumed {
    margin-bottom: 20px;
}

.bar {
    height: 35px;
}

.insert {
    height: 35px;
    width: 70px;
    border-radius: 6px;
    border: hidden;
    color: #ffffff;
    font-size: 14px;
    background-color: #007bff;
}

.insert:hover {
    background-color: #228dff;
    cursor: pointer;
}

input {
    font-size: 15px;
    height: 35px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #b6b6b6;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.border_answer {
    margin-left: 3px;
    color: #1900ff;
}

.drop_factor, .minutes {
    width: 150px;
}

.drop_factor::placeholder {
    text-align: right;
}

.minutes::placeholder {
    text-align: right;
}

.iv_fluid {
    width: 150px;
}

.iv_fluid::placeholder {
    text-align: left;
}

.inputs {
    width: 150px;
}


.inputs::placeholder {
    text-align: right;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 0 0;
}

.submit, .clear {
    padding: 10px 30px 10px 30px; /* top, right, bottom, left */
    border-radius: 4px;
    border: 1px solid;
    color: #ffffff;
}

.submit {
    background-color: #007575;
}

.clear {
    background-color: #6c757d;
}

.submit:hover {
    background-color: #009797;
    cursor: pointer;
}

.clear:hover {
    background-color: #5b6369;
    cursor: pointer;
}

.docInput {
    

}


/* Form 2 */

.output {
    margin: 80px 0 0px 30px;
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
}

.orders {
    text-align: center;
}


.view {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 500px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    overflow-y: auto;
}

.message {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
}

.message:hover {
    background-color: #f1f1f1;
}

.summary {
    font-weight: bold;
}

.details {
    margin-top: 10px;
    display: none; /* Hidden by default */
    font-size: 14px;
    line-height: 1.5;
}

.details.hidden {
    display: none;
}

.details.visible {
    display: block;
}

/* delete button "x" */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 2px 6px;
    cursor: pointer;
    float: right;
    font-size: 12px;
}

.delete-btn:hover {
    background-color: darkred;
}
