* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 20px 0 0 20px; /* top, right, bottom, left */
}

h2 {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.inputs {
    height: 530px;
    width: 35%;
    background-color: #f2f2f2;
    padding: 45px;
    border: hidden;
    border-radius: 30px;
    font-weight: 600;
}

.searchbar, .selected, .flowrate, .volume, .driprate {
    margin-bottom: 40px;
}

.bar {
    height: 35px;
    width: 70%;
}

input {
    font-size: 15px;
    height: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #636363;
}

.three::placeholder {
    text-align: right;
}


.grey {
    color: #878787;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    /* padding: 10px; */
}

.submit, .clear {
    padding: 6px 20px 6px 20px; /* top, right, bottom, left */
    border-radius: 4px;
    border: 1px solid;
    color: #ffffff;
}

.submit {
    background-color: #007575;
}

.clear {
    background-color: #8f8f8f;
}